<%= link_to 'New Task', new_task_path, class: "btn btn-primary" %> <br><br>

<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Task Name</th>
    <th scope="col">Completed?</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <th scope="row">1.</th>
    <td>Title</td>
    <td>
      [X]
    </td>
    <td>Delete | Complete</td>
  </tr>
  </tbody>
</table>
