.row
  .col-md-8.col-xs-12.center-block

    .panel.panel-success
      .panel-heading
        Task:

      %table.table
        %tr
          %th Description
          %th.icon Completed
          %th.icon
       
        %tr
          %td= @task.description
          %td.icon
            - if @task.completed
              %i.glyphicon.glyphicon-ok
          %td.icon
            = link_to edit_task_path(@task) do
              %i.glyphicon.glyphicon-pencil
