// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.centered-box{
	width: 80%;
	margin: 0 10% 0 10%;
}

.centered-text{
	text-align: center;
}